[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pyserial = "3.4"
django-materializecss-form = "*"
djangorestframework = "*"
django-cors-headers = "*"
bson = "0.5.10"
requests = "*"
django-q = {git = "https://github.com/Koed00/django-q.git", ref = "master"}

[requires]
python_version = "3.8"
