{% extends 'sprinklerControlDesign/base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

<!--
    Calendar template. Usage of JavaScript fullcalendar to display the current active irrigation plan and the corresponding irrigation timers.
    Author: Frank Wagner
-->

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.css" rel="stylesheet">
    <script src='{% static "sprinklerControlDesign/de.js" %}'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'de',
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
                {% for event in plan.timers.all %}
                {
                    title: "{{ event.label }}",
                    startTime: "{{ event.timestart|date:'H:i' }}",
                    endTime: "{{ event.timestop|date:'H:i' }}",
                    
                    daysOfWeek: [ {% for eventWeekday in event.weekdays.all %}
                        "{{ eventWeekday.id }}" {% if not forloop.last %}, {% endif %} 
                        {% endfor %}
                    ],
                    id: '{{ event.id }}'
                },
                {% endfor %}
            ],
            nowIndicator: true,
            weekNumbers: true,
            eventColor: '#009688',
            eventBackgroundColor: '#009688',
            eventBorderColor: '#009688',
            eventTextColor: 'white',
            firstDay: 1,
            buttonText: {
                today: 'heute',
                month: 'Monat',
                week: 'Woche',
                day: 'Tag',
                list: 'Liste',
            },
            allDayText: "Ganztägig",
            selectable: true,
            editable: false,

            eventClick: function (info) {
                window.open("http://127.0.0.1:8000/settings/" + info.event.id + "_alter_timer")
            },
        });
        calendar.render();
      });

    </script>
</head>
<body>
<div class="container test">
    <div id="calendar"></div>
</div>
</body>
</html>

{% endblock %}

{% block script %}
{% endblock %}