{% extends 'sprinklerControlDesign/base.html' %}
{% load materializecss %}
{% block title %}
{% endblock %}

{% block content %}

<!--
    Intervall Create Template. This template is used to create a specific irrigation timer. Usage of the included django forms and materializecss.
    Author: Frank Wagner
-->

<script>
	$(document).ready(function () {
		$('select').formSelect();
	});
</script>


<script>
	$(document).ready(function () {
		$('#id_timestart').timepicker({
			twelveHour: false,
			i18n: {
				cancel: 'Abbrechen',
				clear: 'Leeren',
				done: 'Weiter'
			}
		});
		$('#id_timestop').timepicker({
			twelveHour: false,
			i18n: {
				cancel: 'Abbrechen',
				clear: 'Leeren',
				done: 'Weiter'
			}
		});
	});
</script>

<div class="row">

	<nav class="navbarColor">
		<div class="nav-wrapper abstand_oben_groß">
			<div class="col s12">
			<a href="/settings" class="breadcrumb">Einstellungen</a>
			<a class="breadcrumb">Zeitintervall erstellen</a>
			</div>
		</div>
	</nav>

	<div class="col s12 m9 l6">
		<div class="card">
			<div class="card-content">
				<div class="card-title">Zeitintervall erstellen</div>
			<form method="post">
				{% csrf_token %}
				{{ form|materializecss }}
				<p>
					<div class="row">
						<button type="submit"
						class="waves-effect waves light btn-large col s3 abstand_oben_mittel">Erstellen</button>
					</div>    
				</p>
			</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
