{% extends 'sprinklerControlDesign/base.html' %}
{% load materializecss %}
{% block title %}

{% endblock %}

<!--
    Intervall Delete Template. This template is used to delete a specific irrigation timer. Usage of the included django forms and materializecss.
    Author: Frank Wagner
-->

{% block content %}
<div class="row">
    <nav class="navbarColor">
        <div class="nav-wrapper abstand_oben_groß">
            <div class="col s12">
            <a href="/" class="breadcrumb">Übersicht</a>
            <a href="/settings" class="breadcrumb">Einstellungen</a>
            <a class="breadcrumb">Zeitintervall bearbeiten</a>
            <a class="breadcrumb">Zeitintervall löschen</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m9 l6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Willst du dieses Objekt wirklich löschen?</div>
            <form method="post">
                {% csrf_token %}
                <p>
                    <div class="row">
                        <button type="submit"
                        class="waves-effect waves light btn-large col s3 abstand_oben_mittel">Löschen</button>
                    </div>
                </p>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}