{% extends 'sprinklerControlDesign/base.html' %}
{% load materializecss %}
{% block title %}

{% endblock %}


{% block content %}

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

<div class="row">
    <nav class="navbarColor">
        <div class="nav-wrapper abstand_oben_mittel">
            <div class="col s12">
            <a href="/" class="breadcrumb">Übersicht</a>
            <a href="/settings" class="breadcrumb">Einstellungen</a>
            <a class="breadcrumb">Bewässerungszeitplan erstellen</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m9 l6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Bewässerungsplan erstellen</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}
                    <div class="col s12">
                        {{ form.label.label_tag }}
                        {{ form.label }}
                    </div>
                    <div class="col s12">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="select-wrapper">
                        {{ form.timers|materializecss }}
                    </div>
                    <div class="input-field col s12">
                        {{ form.active|materializecss }}
                    </div>
                    <p>
                        <div class="row">
                            <div class="col s12">
                                <button type="submit"
                                class="waves-effect waves light btn-large col s3 abstand_oben_mittel">Erstellen</button>
                            </div>
                        </div>
                    </p>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}