{% extends 'sprinklerControlDesign/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="section">
    <h5>Sprinklerkreise</h5>

    <div class="row">
        {% for s in Sprinkler|dictsort:"label" %}
        <div class="col s12 m6 l4">
            <div class="card yellow lighten-5 medium" style="box-shadow: 0px 0px;">
                <div class="card-content teal">
                    <span style="color:#FFFFFF" class="card-title"><b>{{s.label}}</b></span>
                    <p style="color:#FFFFFF">{{s.description}}</p>
                </div>
                <table class="teal lighten-5">
                    <tr>
                        {% if s.power %}
                        <td style="background-image:URL(https://i.ibb.co/1X1ds9J/Icon-Sprinkler-An-V2.png); background-size:100%; background-repeat: no-repeat;"
                            width=175>
                            <!--R1 C1-->
                            <!-- Switch -->
                            <h1></h1>
                            <div style="text-align: center;" class="switch">
                                <label>
                                    Off
                                    <input id="switch{{s.id}}" type="checkbox" checked
                                        onchange="switchSprinklingState('{{s.id}}')" />
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>
                        {% else %}
                        <td style="background-image:URL(https://i.ibb.co/JBSGC8t/Icon-Sprinkler-Aus-V2.png); background-size:100%; background-repeat: no-repeat;"
                            width=175>
                            <!--R1 C1-->
                            <!-- Switch -->
                            <h1></h1>
                            <div style="text-align: center;" class="switch">
                                <label>
                                    Off
                                    <input id="switch{{s.id}}" type="checkbox" 
                                        onchange="switchSprinklingState('{{s.id}}')" />
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>
                        {% endif %}

                        <td>
                            <!--R1 C2-->
                            <h10><b>Ansteuerungsmodus</b></h10>
                            <form action="#">
                                <p>
                                    <label>
                                        <input name="group1" type="radio" checked />
                                        <span>Manuell</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span>Zeitplan</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span>Smart</span>
                                    </label>
                                </p>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}

        <div class="col s12 m6 l4">
            <div style="box-shadow: 0px 0px;" class="card yellow lighten-5">
                <div class="card-content yellow lighten-5">
                    <a class="waves-effect waves-light btn-large"><i class="material-icons left">add</i>Sprinklerkreis
                        hinzufügen</a>
                </div>
            </div>
        </div>
    </div>




</div>
<div class="section">
    <h5>Zeitpläne</h5>

    <div class="row">
        {% for z in IrrigationPlan %}
        <div class="col s12 m6">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title"><b>{{z.label}}</b></span>
                    <ul class="collapsible teal" style="border: 0px">

                        <li>
                            <div class="collapsible-header teal lighten-5 grey-text text-darken-4"><i
                                    class="material-icons"></i><b>{{z.description}}</b></div>

                            <div class="collapsible-body teal lighten-5 grey-text text-darken-4">
                                <div class="divider teal"></div>
                                {% for t in z.timers.all %}

                                <div class="section">

                                    <p>
                                    <h5>{{t.label}}</h5>
                                    </p>
                                    {% for w in Weekdays %}
                                    {% if w in t.weekdays.all %}
                                    <div class="chip teal white-text">{{w.label}}</div>
                                    {% else %}
                                    <div class="chip">{{w.label}}</div>
                                    {% endif %}
                                    {% endfor %}
                                    </p>
                                    </br>
                                    <p>
                                        <b>Zeit: </b>

                                    <div class="chip teal white-text">
                                        {{t.timestart}} - {{t.timestop}}
                                    </div>
                                    </br>
                                    </p>

                                    <p>
                                        <b>Sprinklerkreise: </b>
                                        {% for s in t.sprinklers.all %}


                                    <div class="chip teal white-text">
                                        {{s.label}}
                                    </div>


                                    {% endfor %}
                                    </p>

                                </div>
                                <div class="divider teal"></div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        {% endfor %}

        <div class="col s12 m6 l4">
            <div style="box-shadow: 0px 0px;" class="card yellow lighten-5">
                <div class="card-content yellow lighten-5">
                    <a class="waves-effect waves-light btn-large"><i class="material-icons left">add</i>Zeitplan
                        hinzufügen</a>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('select').formSelect();
    });

</script>
<script>
    function switchSprinklingState(id) {
        if ($('#switch' + id)[0].checked) {
            $.get('/api/sprinkler/' + id + '/activate', function () {location.reload(); });
        } else {
            $.get('/api/sprinkler/' + id + '/deactivate', function () {location.reload(); });
        }
    }
</script>

{% endblock %}