{% extends 'sprinklerControlDesign/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="section">
    <h5 style="margin-left: 10px;"><b>Sprinklerkreise </b><a href="/settings/create_sprinkler"
            class="btn-floating btn-medium waves-effect waves-light teal"><i class="material-icons">add</i></a></h5>

    <div class="row">
        {% for s in Sprinkler %}
        <div class="col s12 m12 l6 xl4">
            <h5 class="header">{{s.label}}   <a href="/settings/{{s.id}}_alter_sprinkler"
                class="btn-floating btn-medium waves-effect waves-light teal"><i class="material-icons">settings</i></a></h5>
            <div class="card horizontal">
                <div class="card-image"
                    style="background: rgb(2,0,36); 
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,182,172,1) 0%, rgba(0,150,136,1) 81%); width: 250px;">
                    <img src="https://i.ibb.co/1X1ds9J/Icon-Sprinkler-An-V2.png" />
                    <div style="text-align: center; padding-bottom: 5px" class="switch">
                        <label class="white-text">
                            Off
                            <input type="checkbox">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        {{s.description}}
                    </div>
                    <div class="card-action">
                        <h10><b>Ansteuerungsmodus:</b></h10>
                        <form action="#">
                            <p>
                                <label>
                                    <input name="group1" type="radio" checked />
                                    <span class="black-text">Manuell</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="group1" type="radio" />
                                    <span class="black-text">Zeitplan</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="group1" type="radio" />
                                    <span class="black-text">Smart</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>




</div>
<div class="section">
    <h5 style="margin-left: 10px;"><b>Zeitpläne </b><a href="/settings/create_plan"
            class="btn-floating btn-small waves-effect waves-light teal"><i class="material-icons">add</i></a></h5>

    <div class="row">
        {% for z in IrrigationPlan %}
        <div class="col s12 m6">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title"><b>{{z.label}}</b></span>
                    <ul class="collapsible expandable">
                        {% for t in z.timers.all %}
                        <li>
                            <div class="collapsible-header black-text grey lighten-4"><b>{{t.label}}</b></div>
                            <div class="collapsible-body white black-text">
                                <div class="section">
                                    <p>
                                        <b>Wochentage: </b>
                                        {% for w in Weekdays %}
                                        {% if w in t.weekdays.all %}
                                        <div class="chip teal white-text">{{w.label}}</div>
                                        {% else %}
                                        <div class="chip">{{w.label}}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>
                                        <b>Zeit: </b>
                                    <div class="chip teal white-text">
                                        {{t.timestart}} - {{t.timestop}}
                                    </div>
                                    </br>
                                    </p>

                                    <p>
                                        <b>Sprinklerkreise: </b>
                                        {% for s in t.sprinklers.all %}


                                    <div class="chip teal white-text">
                                        {{s.label}}
                                    </div>


                                    {% endfor %}
                                    </p>

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block script %}
<script>


    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();

        let el = document.querySelector('.tabs');
        let instance = M.Tabs.init(el, {});


        let elem = document.querySelectorAll('.collapsible.expandable');
        let instanceCollapsible = M.Collapsible.init(elem, {
            accordion: false,
            onOpenStart: function () {
            }
        });
    });

    $(document).ready(function () {
        $('select').formSelect();
    });

</script>





{% endblock %}