{% extends 'SprinklerControlDesign/base.html' %}

{% block content %}
<div class="container">
    <div class="row content">
        <br>
        <div>
            <a href="/settings/create_sprinkler" class="waves-effect waves-light btn">Sprinkler anlegen</a>
        </div>
        <br>
        <div>
            <a class="waves-effect waves-light btn">Bewässerungszeitplan anlegen</a>
        </div>
        <br>
        <div>
            <a href="/settings/create_timer" class="waves-effect waves-light btn">Zeitintervall anlegen</a>
        </div>

    </div>
</div>

{% endblock %}