{% extends 'SprinklerControlDesign/base.html' %}

{% block content %}
<div class="row content">
    <div class="col s12 m6 l4 xl3">
        <div>
            <a href="/settings/create_sprinkler" class="waves-effect waves-light btn">Sprinkler anlegen</a>
        </div>
        <div>
            <a class="waves-effect waves-light btn">Bewässerungszeitplan anlegen</a>
        </div>
        <div>
            <a class="waves-effect waves-light btn">Zeitintervall anlegen</a>
        </div>
        
    </div>
</div>

{% endblock %}