{% extends 'sprinklerControlDesign/base.html' %}
{% load materializecss %}
{% block title %}

{% endblock %}


{% block content %}
<div class="row">
    <nav style="background: rgb(2,0,36); 
			background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,182,172,1) 0%, rgba(0,150,136,1) 100%);">
        <div class="nav-wrapper" style="margin-top: 10px;">
            <div class="col s12">
            <a href="/" class="breadcrumb">Übersicht</a>
            <a href="/settings" class="breadcrumb">Einstellungen</a>
            <a class="breadcrumb">Sprinkler bearbeiten</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m9 l6">
        <div class="card">
            <div class="card-content">
                            <div class="card-title">Sprinkler ändern</div>
            <form method="post">
                {% csrf_token %}
                {{ form|materializecss }}
                <p>
                    <div class="row">
                        <button style="margin-top: 10px;" type="submit"
                        class="waves-effect waves light btn-large col s3">Ändern</button>
                        <div class="col s1"></div>
                        <a style="margin-top: 10px;" href="/settings/{{object.id}}_delete_sprinkler"
                        class="waves-effect waves light btn-large col s3">Löschen</a>
                    </div>
                        
                </p>
            </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}