{% extends 'sprinklercontrolapp/base.html' %}
{% load materializecss %}
{% block content %}
<div class="row">
	<div class="col s12 m9 l9 xl7">
		<div class="card white darken-3">
			<div class="card-content white-text">
				<span class="card-title">Alter</span>
				<form method="post">
					{% csrf_token %}
					{{ form|materializecss }}
					<p><button style="margin-top: 10px;" type="submit" class="waves-effect waves light btn-large">Erstellen</button></p>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		$('select').formSelect();
	});
</script>
<script>
	$(document).ready(function () {
		$('#id_timestart').timepicker({
			twelveHour: false,
			i18n: {
				cancel: 'Abbrechen',
				clear: 'Leeren',
				done: 'Weiter'
			}
		});
		$('#id_timestop').timepicker({
			twelveHour: false,
			i18n: {
				cancel: 'Abbrechen',
				clear: 'Leeren',
				done: 'Weiter'
			}
		});
	});
</script>
{% endblock %}