{% extends 'sprinklercontrolapp/base.html' %}

{% block content %}
<div class="row">
	{% for s in Sprinkler %}
	<div class="col s12 m6 xl4">
		<div class="card green accent-3">
			<div class="card-content grey-text text-darken-3">
				<span class="card-title">{{s.label}}<a style="float: right;" href="/settings/{{ s.id }}_alter_sprinkler" class="btn-floating btn-large waves-effect waves-light grey darken-3 btn-small"><i class="material-icons">mode_edit</i></a></span>
				<p>{{s.description}}</p>
				</p>
				{% if s.power %}<p>Der Sprinklerkreis ist gerade <b>angeschaltet</b>.</p>{% else %}<p>Der Sprinklerkreis
					ist gerade <b>ausgeschaltet</b>.</p>{% endif %}
				{% if s.enabled %}<p>Der Sprinklerkreis ist gerade <b>aktiviert</b>.</p>{% else %}<p>Der Sprinklerkreis
					ist gerade <b>deaktiviert</b>.</p>{% endif %}
				</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}