.fc-scrollgrid-section .fc-scrollgrid-section-header {
    background-color: #009688;
}

.container {
    padding-top: 25px;
}

.fc-button {
    color: #fff;
    background-color: #009688 !important;
    border-color: #009688 !important;
}

.fc-scrollgrid {
    color: black !important;
}

#calendar .fc-col-header {
    background-color: #009688;
}

.navbarColor{
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,182,172,1) 0%, rgba(0,150,136,1) 100%);
}

.abstand_oben_groß{
    margin-top: 20px;
}

.abstand_oben_mittel{
    margin-top: 10px;
}

.abstand_links_mittel{
    margin-left: 10px;
}

.centered{
    text-align: center;
}

#timeintervall th{
    text-align: center;
}

#timeintervall td{
    text-align: center;
}

.float_right{
    float: right;
}

.padding_unten{
    padding-bottom: 5px
}

.wetter_icon_width{
    width: 250px;
}

.wetter_icon_position{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

.gray{
    color: gray;
}

.full, .login-box{
    height: 100%;
    width: 100%;
}

.vertical_centered{
    vertical-align:middle;
    display:inline;
}

.icon_width{
    width: 100% !important;
}

#calendar .fc-timegrid-axis-cushion .fc-scrollgrid-shrink-cushion .fc-scrollgrid-sync-inner, .fc-col-header-cell-cushion, a.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner, .fc-event-main-frame div.fc-event-time, .fc-event-title.fc-sticky {
    color: white;
}

#calendar .fc-daygrid-day-number, .fc-event-title, .fc-event-time{
    color: black;
}